<div class="row">
	<div class="col-md-4">
		<div class="row">
		 		<div class="col-md-1"></div>
		 		<a href="/create" class="btn btn-default col-md-5">New Innovation</a>

				<div class="col-md-1"></div>

		 		<a href="/view_inventory" class="btn btn-default col-md-5">View Inventory</a>
		 
		</div>
		<div class="row"><br></div><br>
		<div class="row">
		 		<div class="col-md-1"></div>
		 		<a href="/create_presentation" class="btn btn-default col-md-5">Create Presentation</a>
		
				<div class="col-md-1"></div>

		 		<a href="/presentation" class="btn btn-default col-md-5">Saved Presentation</a>
		 	
		</div>
		<div class="row"><br></div><br>
		<div class="row">
				<div class="col-md-1"></div>
		 		<a href="/administrator" class="btn btn-default col-md-5">Administration</a>

		 		<div class="col-md-1"></div>

		 		<a href="/connect" class="btn btn-default col-md-5">Connect</a>

		</div>
		<div class="row"><br></div><br>
		<div class="row">
				<div class="col-md-1"></div>
		 		<a href="/icatalog" class="btn btn-default col-md-5">iCatalog</a>
		 		<div class="col-md-1"></div>
		 	    <a href="" ng-click="goupload('Result Image')" class="btn btn-default col-md-5">Form Upload</a>
		</div>
	</div>
	<div class="col-md-4">
	<center> New Supplier Connection Request </center>
		
	</div>

	<div class="col-md-4">
		<div class="row">
			<a href="#" class="btn btn-default col-md-5">FAQ</a>
		</div>
		<div class="row"><br></div><br>
		<div class="row">
			<a href="#" class="btn btn-default col-md-5">Change Log</a>
		</div>
		<div class="row"><br></div><br>
		<div class="row">
			<a href="#" class="btn btn-default col-md-5">Contact Us</a>
		</div>
		<div class="row"><br></div><br>
		<div class="row">
			<a href="/test" class="btn btn-default col-md-5">Dynamic Form</a>
		</div>
		
	</div>

</div>
