<div class="well">
	   <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*">
            <input type="hidden" ng-model="account.avatar" value="$files">
       </span>
      <button type="submit" ng-click="uploadfile(image)" class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start upload</span>
      </button>
      <p>{{account.avatar.name}}</p>
      <img ng-src="{{image_path}}{{account.avatar.name}}" width="100" height="100">
</div>
<div class="well">
	   <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*">
            <input type="hidden" ng-model="account.avatar" value="$files">
       </span>
      <button type="submit" ng-click="uploadfile(image)" class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start upload</span>
      </button>
      <p>{{account.avatar.name}}</p>
      <img ng-src="{{image_path}}{{account.avatar.name}}" width="100" height="100">
</div>


<div ng-repeat="info in imagesresult">
	<div class="well" style="width: 200px; height: 350px; float: left; margin: 10px;">

	    <h4>{{info.title}}</h4>
		<p ng-repeat="images in info.galleryImage">
			<a href="{{view}}{{images}}">
				<img src="{{path}}{{images}}">
			</a>

			  <button type="button" ng-click="deleteimage(images)" class="btn btn-danger delete">
			  Delete<span class="glyphicon glyphicon-trash"></span></button>
	
		</p>
			    <h4>{{info.excerpt}}</h4>
		       <p></p>
		       <img src="{{path}}{{info.excerptImage}}">

	</div>
</div>

