<div class="well">
Welcome!	
<p>Administrator Page</p>
<!-- .Add fields -->
<form name="fields">
<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Field Name</th>
			<th>Parent tab</th>
			<th>field type</th>
			<th>Column</th>
			<th>Row</th>
			<th>Status</th>
			<th>Notes</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>New</td>
			<td><input type="text" ng-model="field.name" required/></td>
			<td>
			<select ng-model="field.brick_id" ng-options="value.name for (key, value) in dataresultlist track by value.name" required><option value=''>Select Brick type</option></select>
			</td>
			<td><select ng-model="field.type" ng-options="value.type for (key, value) in fieldType track by value.type" required><option value=''>Select Field type</option></select></td>
			<td><select ng-model="field.column" ng-options="col for col in column track by col"><option value=''>Select Column</option></select></td>
			<td><select ng-model="field.row" ng-options="rows for rows in row track by rows"><option value=''>Select Row</option></select></td>
			<td><select ng-model="field.status" ng-options="value.type for (key, value) in statusfields track by value.type" required><option value=''>Select Status</option></select></td>
			<td><input type="text" ng-model="field.notes" style="width: 98%;" required/></td>
			<td><input type="submit" ng-click="savefields()" value="Add Fields"></td>
		</tr>
		<tr ng-repeat="field in datafields">
			<td></td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id">{{field.name}}</td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id"><select ng-model="field.brick_id" ng-options="value.name for (key, value) in dataresultlist track by value.name"><option value=''>Select Brick type</option></select></td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id">{{field.type.type}}</td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id">{{field.column}}</td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id">{{field.row}}</td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id">{{field.status.type}}</td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id">{{field.notes}}</td>
			<td ng-hide="editmode === 'true' && field._id === accountfield._id"><a href="" ng-click="editfield(field._id)">edit</a>
			<!-- <a href="" ng-click="deletefield($index, field._id)">Delete</a> --></td>
			<!-- edit mode -->
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><input type="text" ng-model="accountfield.name" required/></td>
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><select ng-model="accountfield.brick_id" ng-options="value.name for (key, value) in dataresultlist track by value.name" required><option value=''>Select Brick type</option></select></td>
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><select ng-model="accountfield.type" ng-options="value.type for (key, value) in fieldType track by value.type" required><option value=''>Select Field type</option></select></td>
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><select ng-model="accountfield.column" ng-options="col for col in column track by col"><option value=''>Select Column</option></select></td>
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><select ng-model="accountfield.row" ng-options="rows for rows in row track by rows"><option value=''>Select Row</option></select></td>
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><select ng-model="accountfield.status" ng-options="value.type for (key, value) in statusfields track by value.type" required><option value=''>Select Status</option></select></td>
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><input type="text" ng-model="accountfield.notes" style="width: 98%;" required/></td>
			<td ng-show="editmode === 'true' && field._id === accountfield._id"><a href="" ng-click="updatefield(accountfield._id, $index)">Update</a></td>
		</tr>
	</tbody>
</table>
</form>
<form name="tabs">
<!-- Add tabs or bricks -->
<table class="table table-striped table-condensed table-hover">
	<thead>
	<tr>
		<th>Tab ID</th>
		<th>Tab Name</th>
		<th>Status</th>
		<th>Notes</th>
		<th>Actions</th>
	</tr>

	</thead>
	<tbody>
		<tr>
			<td>New</td>
			<td><input type="text" name="tabname" ng-model="brick.name"/></td>
			<td><select ng-model="brick.status" ng-options="value.type for (key, value) in statustabs track by value.type"><option value=''>Select Status</option></select></td>
			<td><input type="text" name="tabname" ng-model="brick.notes"/></td>
			<td><input type="submit" ng-click="savebrick()" value="Add Tab"></td>
		</tr>
		<tr ng-repeat="brick in dataresultlist">
			<td></td>
			<td ng-hide="editmode === 'tabtrue' && brick._id === accountab._id">{{brick.name}}</td>
			<td ng-hide="editmode === 'tabtrue' && brick._id === accountab._id">{{brick.status.type}}</td>
			<td ng-hide="editmode === 'tabtrue' && brick._id === accountab._id">{{brick.notes}}</td>
			<td ng-hide="editmode === 'tabtrue' && brick._id === accountab._id"><a href="" ng-click="editTab(brick._id)">edit</a>
			<!-- <a href="" ng-click="deletebrick($index, brick._id)">Delete</a> --></td>

			<!-- Edit MODE -->
			<td ng-show="editmode === 'tabtrue' && brick._id === accountab._id"><input type="text" name="tabname" ng-model="accountab.name"/></td>
			<td ng-show="editmode === 'tabtrue' && brick._id === accountab._id"><select ng-model="accountab.status" ng-options="value.type for (key, value) in statustabs track by value.type"><option value=''>Select Status</option></select></td>
			<td ng-show="editmode === 'tabtrue' && brick._id === accountab._id"><input type="text" name="tabname" ng-model="accountab.notes"/></td>
			<td ng-show="editmode === 'tabtrue' && brick._id === accountab._id"><a href="" ng-click="updateTab(accountab._id)">Update Tab</a></td>
		</tr>
	</tbody>
</table>
</form>
</div>