<div class="well">
<div class="row ">
		<div class="col-lg-6">
			<input type="text" class="form-control" id="innovationname" placeholder="Search innovation...">
		</div>
					
				
		<div class="col-lg-3">
			        <select class="form-control" id="select">
					          <option>All of these words</option>
					          <option>One or more of these words</option>
					          <option>This exact phrase</option>
					          <option>Search by record ID #</option>
					  </select>

		</div>
		<div class="col-lg-3">
			<a href="" class="btn btn-success">Search</a>
		</div>
			  

</div>