<div class="container">
  <div class="panel panel-default">
   <form name="newInno">
      <div class="panel-heading">
              <div class="pull-right">
                   <a href="/"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
              <h2>New Innovation</h2>

      </div>
      <div class="panel-body">
      
            <div class="form-group">
              <label for="name" class="col-lg-2 control-label">Name Your Innovation</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="innovation.name" id="name" placeholder="Innovation name" required>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Summary or Description</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea" ng-model="innovation.description" name="description" required></textarea>
                <span class="help-block">Used in Subtitles and Search results
                Limited to 250 characters
                A longer description can be provided next 
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="bricktype" class="col-lg-2 control-label">Choose the Type of Record</label>
              <div class="col-lg-10">
              <input type="radio" name="brick_type" ng-model="innovation.brick_type" value="Idea"/>Idea<br>
              <input type="radio" name="brick_type" ng-model="innovation.brick_type" value="Intellectual"/>Intellectual property<br>
              <input type="radio" name="brick_type" ng-model="innovation.brick_type" value="Item"/>Item<br>
              <input type="radio" name="brick_type" ng-model="innovation.brick_type" value="Insights"/>Insights<br>
              </div>
            </div>
             <!--  <tabset justified="true">
                <tab heading="Idea">
                  <br>
                  <br>
                    <div class="col-lg-3">
                      <div class="well">
                        <input type="file" ng-file-select="onFileSelect($files)" multiple /> -->
                        <!-- <input type="submit" ng-click="uploaditem()" value="Upload"> -->
                        <!-- <h2>{{imagehead}}</h2> -->
                        <!-- <ul ng-repeat="images in imagedetail">
                          <li>{{images.name}}</li>
                        </ul> -->
                      <!--   <table>
                          <tr ng-repeat="images in innovation.imagedetail">
                            <td><input type="radio" name="defaultimage" ng-model="images.defaultimage" value="true"/></td>
                            <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50"></td>
                            <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                            <div id="hidden_input"></div>
                          </tr>
                        </table> -->
                      <!-- <ul id="listimage"></ul> -->
                      
                     <!--  </div>
                        
                    </div>
                    <div class="col-lg-3">

                      <div class="control-group">
                          <label class="control-label" for="ideanameinno">Name</label>
                          <div class="controls">
                              <input id="ideanameinno" name="ideanameinno" ng-model="innovation.ideanameinno" type="text" class="form-control"/>
                          </div>
                      </div> <br />
                      <div class="control-group">
                          <label class="control-label" for="comments">Comments</label>
                          <div class="controls">
                              <textarea class="form-control" rows="3" id="textArea" ng-model="innovation.comments" name="comments"></textarea>
                          </div>
                      </div> <br />
                     
                    </div>
                    <div class="col-lg-3">
                      <div class="control-group">
                          <label class="control-label" for="ideaprice">Unit Price</label>
                          <div class="controls">
                              <input id="ideaprice" name="ideaprice" ng-model="innovation.ideaprice" type="text" class="form-control"/>
                          </div>
                      </div> <br />
                      <div class="control-group">
                          <label class="control-label" for="ideaunitcost">Project Unit Cost</label>
                          <div class="controls">
                              <textarea class="form-control" rows="3" id="textArea" ng-model="innovation.ideaunitcost" name="ideaunitcost"></textarea>
                          </div>
                      </div> <br />
                    </div>
                    <div class="col-lg-3">
                      <div class="control-group">
                          <label class="control-label" for="itemtype">Item Type</label>
                          <div class="controls">
                              <input id="itemtype" name="itemtype" ng-model="innovation.itemtype" type="text" class="form-control"/>
                          </div>
                      </div> <br />
        
                    </div>
                   
                </tab>
                <tab heading="Intellectual Property">
                  <br>
                  <br>
                    <div class="col-lg-3">
                       <div class="well pull-right" ng-show="!innovation.propertyproduct.name">
                                <center>
                                     <img ng-src="resident/images/no-photo-icon.png" height="200" width="200">
                                     <br /><br />
                                    <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Select Avatar</span>
                                                <input type="file" file-model="innovation.propertyproduct" />
                                    </span>
                                </center>
                             
                        </div>
                        <div class="well pull-right" ng-show="innovation.propertyproduct.name">
                                <center>
                                     <img ng-src="resident/images/{{innovation.propertyproduct.name}}" height="200" width="200">
                                     <br /><br />
                                     <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Change Avatar</span>
                                            <input type="file" file-model="innovation.propertyproduct" multiple>
                                    </span>
                                </center>
                        </div>
                    </div>
                    <div class="col-lg-3">

                      <div class="control-group">
                          <label class="control-label" for="propertynameinno">Name</label>
                          <div class="controls">
                              <input id="propertynameinno" name="propertynameinno" ng-model="innovation.propertynameinno" type="text" class="form-control"/>
                          </div>
                      </div> <br />
                      <div class="control-group">
                          <label class="control-label" for="propertycomments">Comments</label>
                          <div class="controls">
                              <textarea class="form-control" rows="3" id="textArea" ng-model="innovation.propertycomments" name="propertycomments"></textarea>
                          </div>
                      </div> <br />
                     
                    </div>
                    <div class="col-lg-3">
                      <div class="control-group">
                          <label class="control-label" for="propertyprice">Unit Price</label>
                          <div class="controls">
                              <input id="propertyprice" name="propertyprice" ng-model="innovation.propertyprice" type="text" class="form-control"/>
                          </div>
                      </div> <br />
                      <div class="control-group">
                          <label class="control-label" for="propertyunitcost">Project Unit Cost</label>
                          <div class="controls">
                              <textarea class="form-control" rows="3" id="textArea" ng-model="innovation.propertyunitcost" name="propertyunitcost"></textarea>
                          </div>
                      </div> <br />
                    </div>
                    <div class="col-lg-3">
                      <div class="control-group">
                          <label class="control-label" for="propertyitemtype">Item Type</label>
                          <div class="controls">
                              <input id="propertyitemtype" name="propertyitemtype" ng-model="innovation.propertyitemtype" type="text" class="form-control"/>
                          </div>
                      </div> <br />
                      <div class="control-group">
                  
                          <p class="input-group"> -->
                           <!--  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="innovation.prpertydate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span> -->
<!--                           </p>
                      </div>
             
                    </div>
                </tab>
                <tab heading="Item">Item</tab>
                <tab heading="Insights">Insights</tab>
              </tabset> -->
      
      </div>
      <div class="panel-footer">
        
          <div class="form-group">
          <!--   <div class="col-lg-12 col-lg-offset-1"> -->
              <a href="/" class="btn btn-warning">Cancel</a>
              <button type="submit" ng-hide="innovation._id" ng-click="saveinno()" class="btn btn-primary">Save</button>
              <button type="submit" ng-if="innovation._id" ng-click="updateinno(innovation._id)" class="btn btn-primary">Update</button>
     <!--        </div> -->
          </div>
      </div>
  </form>
  </div>
</div>
