<div class="container">
  <div class="panel panel-default">
   <form name="newInno">
      <div class="panel-heading">
              <div class="pull-right">
                   <a href="/"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
              <h2>Innovation: {{innovation.name}} </h2>
              <input type="text" ng-model="innovation.name" class="form-control" /><br>
              <textarea ng-model="innovation.description"  class="form-control"></textarea>

      </div>

      <div class="panel-body">

      	  <tabset justified="true">
                <tab heading="{{brick.name}}" ng-repeat="brick in bricks"><br>
             
                    <div class="col-md-3 well" style="height: 500px; ">
                     <div ng-repeat="rowcol1 in column1" ng-if="rowcol1.column == '1'">
                       <div ng-if="rowcol1.brick_id.name === brick.name">
                          <div class="row" ng-if="rowcol1.row == '1'">
                               <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  ng-model="innovation.value1" class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.name" ng-model="innovation.value2"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text"  class="form-control" ng-model="innovation.value3"/>
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <p>{{myfunc(rowcol1.column)}}</p>

                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol1.row == '2'">
                               <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number" ng-model="innovation.value5" class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.value4"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text" ng-model="innovation.value6" class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol1.row == '3'">
                                <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  ng-model="innovation.value7" class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.value8"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text"  ng-model="innovation.value9" class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol1.row == '4'">
                            <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol1.row == '5'">
                            <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol1.row == '6'">
                            <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol1.row == '7'">
                             <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol1.row == '8'">
                                <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  class="form-control" />
                                  </div>
                                </div>
                                <!-- type number -->
                                <div ng-if="rowcol1.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol1.name}}</label><br>
                                    <input type="number"  class="form-control" />
                                  </div>
                                </div>
                              <!-- text area -->
                              <div ng-if="rowcol1.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol1.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol1.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol1.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                       </div>
                     </div>
                    </div>

                    <div class="col-md-3 well" style="height: 500px; ">
                     <div ng-repeat="rowcol2 in column2" ng-if="rowcol2.column == '2'">
                       <div ng-if="rowcol2.brick_id.name === brick.name">
                          <div class="row" ng-if="rowcol2.row == '1'">
                            <!-- type number -->
                              <div ng-if="rowcol2.type.type === 'number'">
                               <p>{{myfunc(rowcol2.column)}}</p>
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <input type="number" ng-model="innovation.value56" class="form-control" />
                                </div>
                              </div>
                           <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <!-- <input type="text"  class="form-control" /> -->
                                  <input type="{{ rowcol2.type.type }}" dynamic-name="rowcol2.name" id="{{ rowcol2.name }}" data-ng-model="rowcol2.data"  class="form-control" required />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>

                          </div>
                          <div class="row" ng-if="rowcol2.row == '2'">
                           <!-- type number -->
                                <div ng-if="rowcol2.type.type === 'number'">
                                  <div class="form-group">
                                  <label class="control-label">{{rowcol2.name}}</label><br>
                                    <input type="number" ng-model="innovation.value90"  class="form-control" />
                                  </div>
                                </div>
                           <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>

                          </div>
                          <div class="row" ng-if="rowcol2.row == '3'">
                            <!-- type number -->
                              <div ng-if="rowcol2.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <input type="number" ng-model="innovation.value34" class="form-control" />
                                </div>
                              </div>
                           <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>

                          </div>
                          <div class="row" ng-if="rowcol2.row == '4'">
                               <!-- type number -->
                              <div ng-if="rowcol2.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>

                          </div>
                          <div class="row" ng-if="rowcol2.row == '5'">
                             <!-- type number -->
                              <div ng-if="rowcol2.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol2.row == '6'">
                            <!-- type number -->
                              <div ng-if="rowcol2.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol2.row == '7'">
                              <!-- type number -->
                              <div ng-if="rowcol2.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol2.row == '8'">
                            <!-- type number -->
                              <div ng-if="rowcol2.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol2.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                                <!-- type text -->
                              </div>

                              <div ng-if="rowcol2.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol2.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol2.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                       </div>
                     </div>
                    </div>

                    <div class="col-md-3 well" style="height: 500px; ">
                     <div ng-repeat="rowcol3 in column3" ng-if="rowcol3.column == '3'">
                       <div ng-if="rowcol3.brick_id.name === brick.name">
                          <div class="row" ng-if="rowcol3.row == '1'">
                           <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                           <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                            <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>

                          </div>
                          <div class="row" ng-if="rowcol3.row == '2'">
                            <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>

                          </div>
                          <div class="row" ng-if="rowcol3.row == '3'">
                            <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol3.row == '4'">
                            <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol3.row == '5'">
                            <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol3.row == '6'">
                            <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol3.row == '7'">
                              <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol3.row == '8'">
                            <!-- type number -->
                              <div ng-if="rowcol3.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol3.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol3.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol3.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol3.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="innovation.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="innovation.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                       </div>
                     </div>
                    </div>

                    <div class="col-md-3 well" style="height: 500px; ">
                    <center><p>
                          <div class="row">
                             <a href="#" ng-click="saveinnolast(innovation._id)" class="btn btn-default col-md-5">Save</a>
                          </div>
                          <div class="row">
                            <a href="#" ng-if="innovation._id" class="btn btn-default col-md-5">Edit</a>
                          </div>
                    </p>
                    </center>

                     <div ng-repeat="rowcol4 in column4" ng-if="rowcol4.column == '4'">
                       <div ng-if="rowcol4.brick_id.name === brick.name">
                          <div class="row" ng-if="rowcol4.row == '1'">
                              <!-- type number -->
                              <div ng-if="rowcol4.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol4.row == '2'">
                             <!-- type number -->
                              <div ng-if="rowcol4.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol4.row == '3'">
                            <!-- type number -->
                              <div ng-if="rowcol4.type.type === 'number'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <input type="number"  class="form-control" />
                                </div>
                              </div>
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol4.row == '4'">
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol4.row == '5'">
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol4.row == '6'">
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol4.row == '7'">
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                          <div class="row" ng-if="rowcol4.row == '8'">
                              <!-- text area -->
                              <div ng-if="rowcol4.type.type === 'text_area'">
                                <div class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label><br>
                                  <textarea ng-model="innovation.name"></textarea>
                                </div>
                              </div>
                              <!-- type text -->
                              <div ng-if="rowcol4.type.type === 'text'" class="form-group">
                                <label class="control-label">{{rowcol4.name}}</label>
                                  <input type="text"  class="form-control" />
                              </div>

                              <!-- file type -->
                              <div ng-if="rowcol4.type.type === 'files'" class="form-group">
                                <!-- <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple /> -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add images...</span>
                                    <input type="file" ng-file-select="onFileSelect($files)" file-model="account.avatar" name="avatar"  accept="image/*" multiple>
                                    <input type="hidden" ng-model="account.avatar" value="$files">
                               </span>
                                <h2>{{imagehead}}</h2>
                                <table>
                                    <tr ng-repeat="images in imagedetail">
                                        <td>{{images.name}}</td>
                                        <td><img ng-src="{{imagepath}}{{images.name}}" height="50" width="50">
                                        <div id="hidden_input"></div></td>
                                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                                    </tr>
                                </table>
                              </div>
                          </div>
                       </div>
                     </div>
                    </div>

          		  </tab>
          </tabset>

       <!--   <div ng-repeat="field in datafields">  --> 
                    <!-- TEXT FIELDS -->
 <!--              <div ng-if="field.type=='text'" class="form-group">
                <label class="col-sm-2 control-label">{{field.label}}</label>
                <div class="col-sm-6">
                  <input type="{{ field.type }}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data"  class="form-control" required/> -->
                   <!--<span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.required">Required!</span>.-->
<!--                    <span  data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>
                </div>
              </div>
         </div> -->


 
      </div>

      <div class="panel-footer">
      	 <div class="form-group">
          <!-- <div class="col-lg-12 col-lg-offset-1"> -->
              <a href="/" class="btn btn-warning">Cancel</a>
              <button type="submit" ng-hide="innovation._id" ng-click="saveinno()" class="btn btn-primary">Save</button>
              <button type="submit" ng-if="innovation._id" ng-click="updateinno(innovation._id)" class="btn btn-primary">Update</button>
         <!-- </div> -->
          </div>
      </div>
	</form>
  </div>
</div>
