<div class="well">
<h3>Saved Presentation</h3>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Create New Presentation</a>
  <a href="#" class="btn btn-default">Create New Folder</a>
  <a href="#" class="btn btn-default">Manage Folder</a>
</div>
</div>