<div class="well">
<input type="file" name="image" ng-file-select="onFileSelect($files)" multiple />
<!-- <input type="submit" ng-click="uploaditem()" value="Upload"> -->
<h2>{{imagehead}}</h2>
<!-- <ul ng-repeat="images in imagedetail">
	<li>{{images.name}}</li>
</ul> -->
<table>
	<tr ng-repeat="images in imagedetail">
		<td>{{images.name}}</td>
		<td><img ng-src="http://localhost:3001/uploaded/files/{{images.name}}" height="50" width="50"></td>
		<td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
	</tr>
</table>
<!-- <ul id="listimage"></ul> -->
</div>