
<div class="input-append">
    <input type="text" ng-model="query" ng-change="search()" class="input-large search-query form-control" placeholder="Search...">
    <span class="add-on"><i class="icon-search"></i></span>
</div>
<div class="pagination pull-left">
        <ul class="pagination pagination-sm">
             <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage}"
            ng-click="setPage()">
                <a href="" ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
</div>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <!-- glyphicon glyphicon-pushpin -->
            <th class="name">Innovation Name&nbsp;<a ng-click="sort_by('name')"><span class="add-on"><i class="glyphicon glyphicon-pushpin"></i></span></a></th>
            <th class="description">Description&nbsp;<a ng-click="sort_by('description')"><span class="add-on"><i class="glyphicon glyphicon-pushpin"></i></span></a></th>
            <th class="ideanameinno">Idea Name&nbsp;<a ng-click="sort_by('ideanameinno')"><span class="add-on"><i class="glyphicon glyphicon-pushpin"></i></span></a></th>
            <th class="ideaunitcost">Unit Cost&nbsp;<a ng-click="sort_by('ideaunitcost')"><span class="add-on"><i class="glyphicon glyphicon-pushpin"></i></span></a></th>
            <th class="propertyitemtype">Comments&nbsp;<a ng-click="sort_by('propertyitemtype')"><span class="add-on"><i class="glyphicon glyphicon-pushpin"></i></span></a></th>
            <th class="ideaprice">Price&nbsp;<a ng-click="sort_by('ideaprice')"><span class="add-on"><i class="glyphicon glyphicon-pushpin"></i></span></a></th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
            <td>{{item.name}}</td>
            <td>{{item.description | truncate}}</td>
            <td>{{item.ideanameinno}}</td>
            <td>{{item.ideaunitcost}}</td>
            <td>{{item.comments}}</td>
            <td>{{item.ideaprice}}</td>
            <td>
            <a href="" ng-click="editinno(item._id)" class="btn btn-info"><span class="add-on"><i class="glyphicon glyphicon-edit"></i></span></a>
            <a href="" ng-click="openmodal('lg', item._id)" class="btn btn-warning"><span class="add-on"><i class="glyphicon glyphicon-eye-open"></i></span></a>
            <a href="" ng-click="deleteinno($index, item._id)" class="btn btn-danger"><span class="add-on"><i class="glyphicon glyphicon-trash"></i></span></a></td>
        </tr>
    </tbody>
</table>
<div class="pagination pull-left">
    <ul class="pagination pagination-sm">
      <li ng-class="{disabled: currentPage == 0}">
        <a href ng-click="prevPage()">« Prev</a>
    </li>
    <li ng-repeat="n in range(pagedItems.length)"
        ng-class="{active: n == currentPage}"
    ng-click="setPage()">
        <a href ng-bind="n + 1">1</a>
    </li>
    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
        <a href ng-click="nextPage()">Next »</a>
    </li>
    </ul>
</div>
            
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <div class="pull-right">
               <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
            <h3 class="modal-title">{{innovation.innoname}}</h3>
        </div>
        <div class="modal-body">

            <div class="well">
                <input type="file" name="image" ng-file-select="onFileSelect($files)" multiple />
                <!-- <input type="submit" ng-click="uploaditem()" value="Upload"> -->
                <h2>{{imagehead}}</h2>
                <!-- <ul ng-repeat="images in imagedetail">
                    <li>{{images.name}}</li>
                </ul> -->
                <table>
                    <tr ng-repeat="images in imagedetail">
                        <td>{{images.name}}</td>
                        <td><img ng-src="http://localhost:3001/uploaded/files/{{images.name}}" height="50" width="50"></td>
                        <td><button class="btn btn-danger" ng-click="deleteimage($index, images.name)">Delete</button></td>
                    </tr>
                </table>
                <!-- <ul id="listimage"></ul> -->
            </div>

            </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>
   