<!DOCTYPE html>
<html>
<head>
	<title>Account Setup</title>
	<link href="cycle.png" rel="icon">
	<base href="/">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap9.min.css">
</head>
<body>
	<div class="container">
<br>
<br>
<br>
<br>
<br>
	  <div class="row">
        <div class="col-md-4"></div>
	      <div class="col-md-4">	
		    <form method="post" action="/login" name="loginForm">        
				 <div class="panel panel-default">
					 <div class="panel-heading">
					  
					 	<h3 class="text-center">Log in</h3>
					 </div>
					
				 	<div class="panel-body">
				 	 <div class="row">
					 	  <div class="col-md-1"></div>
					 	  <div class="col-md-10">
					 	 			 <center>
							             <a><img src="img/inno_logo.gif"></a>
							            
					 	  			 </center>
								    
										<hr>

							            <div class="form-group has-feedback">
							             <input class="form-control input-md" type="text" name="username" ng-model="username" placeholder="Username" required autofocus>
							            </div>

							            <div class="form-group has-feedback">
							             <input class="form-control input-md" type="password" name="password" ng-model="password" placeholder="Password" required>
							            </div>
				           </div>
					 	   <div class="col-md-1"></div>
			     	   </div>
			     	 </div>
				 	<div class="panel-footer">
				    	<center>   	<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success"></span> Log in <span class="glyphicon glyphicon-lock"></span> </button></center>
					</div>
				</div>
			</form>
		</div>

        <div class="col-md-4"></div>
    </div>
  </div>
</body>
</html>
